keras @ file:///home/conda/feedstock_root/build_artifacts/keras_1630699849487/work/keras-2.6.0-py2.py3-none-any.whl
Keras-Preprocessing @ file:///home/conda/feedstock_root/build_artifacts/keras-preprocessing_1610713559828/work
numpy==1.21.4
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1630471917451/work
streamlit @ file:///home/conda/feedstock_root/build_artifacts/streamlit_1620159617620/work
tensorflow-estimator==2.6.0
tensorflow-macos==2.6.0
tensorflow-metadata==1.4.0
tensorflow-metal==0.2.0
